<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- headerAppend %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap">
  <style>
    body {background-color: #f5f5f5;}
  </style>
</head>
<body>
  <form
    method="POST"
    action="<%= postTarget %>"
    id="FORMPRESS_FORM_<%= FORMID %>"
    encType="multipart/form-data"
  >
    <%- form %>
    <input type="hidden" name="completion_time" id="completion_time" value="0" />
  </form>
  <% if(showBranding === true) {%>
    <%- include ("branding.tpl.ejs") %>
  <%} else {null} %>
<script>
    var FORMID = "<%= FORMID %>"
    var BACKEND = "<%= BACKEND %>"
    var USERID = "<%= USERID %>"
  </script>
  <script>
    var el = document.getElementById('completion_time');

    setInterval(function(){
      el.value = parseInt(el.value) + 1;
    }, 1000);
  </script>
  <script src="<%= RUNTIMEJSURL %>"></script>
</body>
</html>