<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- headerAppend %>
</head>
<body>
  <form
    method="POST"
    action="<%= postTarget %>"
    id="FORMPRESS_FORM_<%= FORMID %>"
    encType="multipart/form-data"
  >
    <%- form %>
  </form>
  <script>
    var FORMID = "<%= FORMID %>"
    var BACKEND = "<%= BACKEND %>"
    var USERID = "<%= USERID %>"
  </script>
  <script src="<%= RUNTIMEJSURL %>"></script>
</body>
</html>