<html lang="">
<head>
    <style>
      @media print {
        .answers {
          display: block;
          page-break-inside: avoid;
        }
        .QnA {
          display: block;
          break-inside: avoid;
          page-break-inside: avoid;
        }

        body {
          box-shadow: unset;
        }
        @page {
          margin: 0.4in;
        }
      }
        html {
            height: 100%;
        }
        body {
            width: 780px;
            margin: auto;
            font-family: 'Montserrat', sans-serif;
            position: relative;
        }
       .header {
            border-top: 20px solid #8cc63f;
            width: 100%;
            display: flex;
        }
        .content-wrapper {
            width: 780px;
            display: grid;
            margin-top: -10px;
        }
        .footer {
            text-align: center;
            height: 50px;
            line-height: 50px;
            margin-top: 40px;
            position: absolute;
            bottom: 0;
            width: 780px;
        }
        .fp-logo {
            margin: auto;
        }
        .fp-logo > svg{
            width: 360px;
        }
        .hero-logo > svg{
            margin-top: -70px;
            width: 200px;
            padding-left: 10px;
        }
        .notifier-text {
            font-size: 18px;
            width: calc(100% - 235px);
            margin-top: 55px;
            height: 62px;
            border-bottom: 2px solid #d0d0d0;
            margin-right: 20px;
            display: inline-table;

        }
        .notifier-text > p >strong {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            max-width: 42ch;
            line-height: 15px;
        }
        .answers {
            width: 720px;
            margin: -50px 30px 0;
            padding-bottom: 50px;
            font-size: 18px;
        }
        .answer-value {
            padding-bottom: 5px;
            margin-left: 10px;
            color: #333333;
        }
        .question-name {
            color: #113952;
            font-weight: bold;
            padding: 10px 0 0;
        }
        .content {
            display: flex;
            width: 780px;
        }

      /* FOR NPS ONLY */
      .nps {
        list-style: none;
        display: flex;
        justify-content: space-around;
        max-width: fit-content;
        padding: 0;
      }

      .nps li {
        display: inline-flex;
      }

      .nps [type='radio'] {
        display: none;
      }

      .nps .net-promoter-score-label {
        display: inline-block;
        border: 1px solid #1c5c85;
        background-color: #fff;
        color: #1c5c85;
        width: 40px;
        height: 30px;
        margin: 0 5px;
        user-select: none;
        text-align: center;
        line-height: 28px;
      }

      .nps-input:checked + label {
        border: 1px solid #1c5c85;
        background-color: #1c5c85;
        color: #fff;
      }

    </style>
    <title><%= FormTitle %></title>
</head>
<body>
<div class="header">
    <div class="fp-logo">
        <%- include ("../svg/formpresslogo.svg") %>
    </div>
</div>
<div class="content-wrapper">
    <div class="content">
        <div class="hero-logo">
            <%- include ("../svg/SubmitSuccess.svg") %>
        </div>
        <div class="notifier-text">
            <p>
            Your form <strong>&quot;<%= FormTitle %>&quot;</strong> just received a submission. Here are the responses:
            </p>
        </div>
    </div>
    <div class="answers">
        <%
        QUESTION_AND_ANSWERS.forEach (function (QnA) {%>
            <div class="QnA">
                <div class="question-name">
                    <%- QnA.question%>
                </div>
                <% if (QnA.type === 'FileUpload' && imgEncoded[`q_${QnA.id}`] !== undefined ) {
                  const matchingFile = imgEncoded[`q_${QnA.id}`]
                  const imgSrc = `data:${matchingFile.mimeType};base64, ${matchingFile.base64}`
                %>
                    <div class="answer-value">
                        <img src="<%=imgSrc%>" alt="Uploaded image." style="max-width: 700px; padding: 10px 0 10px 0;" />
                        <%- QnA.renderedAnswer %>
                    </div>
                    <% } else {%>
                <div class="answer-value">
                    <%- QnA.renderedAnswer %>
                </div>
                <% }%>
            </div>
        <%})%>
    </div>
</div>
<div class="footer">
    &#169; 2022 FORMPRESS.ORG
</div>
</body>
</html>