<html lang="">
<head>
    <style>
      @media print {
        .answers {
          display: block;
          page-break-inside: avoid;
        }
        .QnA {
          display: block;
          break-inside: avoid;
          page-break-inside: avoid;
        }

        body {
          box-shadow: unset;
        }
        @page {
          margin: 0.22in;
        }
      }
      html {
        height: 100%;
      }
      body {
        width: 780px;
        margin: auto;
        font-family: 'Montserrat', sans-serif;
        position: relative;
      }
      .header {
        border-top: 20px solid #8cc63f;
        width: 100%;
        display: flex;
      }
      .content-wrapper {
        width: 780px;
        display: grid;
        margin-top: -10px;
      }
      .footer {
        text-align: center;
        height: 50px;
        line-height: 50px;
        margin-top: 40px;
        position: absolute;
        bottom: 0;
        width: 780px;
      }
      .fp-logo {
        margin: auto;
      }
      .fp-logo > svg {
        width: 360px;
      }
      .hero-logo > svg {
        width: 200px;
        padding: 0 1rem 0 1rem;
      }
      .notifier-text {
        border-bottom: 2px solid #d0d0d0;
        padding: 0 1rem 0 1rem;
      }

      .QnA {
        padding: 0.75rem 0.75rem 0.75rem 0.2rem;
      }
      .answers {
        width: 720px;
        margin: -50px 30px 0;
        padding-bottom: 50px;
        font-size: 18px;
      }
      .answer-value {
        padding: 0.5rem;
        color: #333333;
        width: 100%;
        word-break: break-word;
      }

      .answer-value > strong {
        margin-right: 2px;
      }

      .question-name {
        color: #113952;
        font-weight: bold;
        padding: 10px 0 0;
      }

      .content {
        display: flex;
        width: 780px;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 4rem;
      }

      #border {
        position:fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border: 2px solid gainsboro;
      }


      /* FOR NPS ONLY */
      .nps {
        list-style: none;
        display: flex;
        justify-content: space-around;
        max-width: fit-content;
        padding: 0;
      }

      .nps li {
        display: inline-flex;
      }

      .nps [type='radio'] {
        display: none;
      }

      .nps .net-promoter-score-label {
        display: inline-block;
        border: 1px solid #1c5c85;
        background-color: #fff;
        color: #1c5c85;
        width: 40px;
        height: 30px;
        margin: 0 5px;
        user-select: none;
        text-align: center;
        line-height: 28px;
      }

      .nps-input:checked + label {
        border: 1px solid #1c5c85;
        background-color: #1c5c85;
        color: #fff;
      }

      .rating-scale-input.Numbers:checked + label {
        border: 1px solid #1c5c85;
        background-color: #1c5c85;
        color: #fff;
      }

      .rating-scale-input.Numbers.checked + label {
        border: 1px solid #1c5c85;
        background-color: #1c5c85;
        color: #fff;
      }

      .rating-scale-data{
        display: flex;
        list-style: none;
        padding-left: 0;
        justify-content: flex-start;
      }

      .rating-scale-data [type='radio'] {
        display: none;
      }

      .rating-scale-data li{
        display: inline-flex;
        user-select: none;
        text-align: center;
      }

      .rating-scale-data .rating-scale-Numbers {
        border: 1px solid #1c5c85;
        background-color: #fff;
        color: #1c5c85;
        width: 40px;
        height: 30px;
        margin: 0 5px;
        line-height: 32px;
      }

      .rating-scale-data .rating-scale-Stars {
        color: gray;
        width: 38px;
        height: 36px;
        margin: 0 3px;
      }

      .rating-scale-data .rating-scale-Faces {
        border: 1px solid #1c5c85;
        background-color: #fff;
        color: #1c5c85;
        width: 40px;
        height: 30px;
        margin: 0 5px;
      }

      .rating-scale-data .rating-scale-label:hover {
        border: 1px solid #1c5c85;
        background-color: #1c5c85;
        color: #fff;
      }

      .rating-scale-data input[type='radio']:checked + label.rating-scale-Numbers {
        border: 1px solid #1c5c85;
        background-color: #1c5c85;
        color: #fff;
      }

      .rating-scale-data input[type='radio']:checked + label.rating-scale-Stars {
        color: #1c5c85;
      }

      .rating-scale-data .rating-scale-Stars.extends-select {
        color: #1c5c85;
      }
    </style>
    <title><%= FormTitle %></title>
</head>
<body>
<div id="border"></div>
<div class="header">
    <div class="fp-logo">
        <%- include ("../svg/formpresslogo.svg") %>
    </div>
</div>
<div class="content-wrapper">
    <div class="content">
        <div class="hero-logo">
            <%- include ("../svg/SubmitSuccess.svg") %>
        </div>
        <div class="notifier-text">
            <p>
            Your form <strong>&quot;<%= FormTitle.substring(0, 50) + (FormTitle.length > 50 ? '...' : '') %>&quot;</strong> just received a submission. Here are the responses:
            </p>
        </div>
    </div>
    <div class="answers">
        <%
        QUESTION_AND_ANSWERS.forEach (function (QnA) {%>
            <div class="QnA <%= QnA.type %>">
                <div class="question-name">
                    <%- QnA.question%>
                </div>
                <div class="answer-value">
                    <%- QnA.renderedAnswer %>
                </div>
            </div>
        <%})%>
    </div>
</div>
<div class="footer">
    &#169; 2023 FORMPRESS.ORG
</div>
<script defer>
    // add display none to all images if there is an error
    const images = document.getElementsByTagName('img');
    for (let i = 0; i < images.length; i++) {
        images[i].setAttribute('onerror', "this.style.display='none'");
    }
</script>
</body>
</html>
