<!DOCTYPE html>
<html>
<head>
  <title> Your form &quot;<%= FormTitle %>&quot; just received a response.</title>
  <style>
    .QnA-question {
      color: #113952;
      font-weight: bold;
      font-size: 16px;
      width: 90%;
      padding: 10px 10px 10px 30px;
    }

    .QnA-answer {
      width: 90%;
      color: #333333;
      font-size: 16px;
      padding: 10px 10px 10px 30px;
    }
    .QnA-answer strong {
      margin-right: 3px;
    }



  /* FOR NPS ONLY */

    .nps {
      list-style: none;
      display: flex;
      justify-content: space-around;
      max-width: fit-content;
      padding: 0;
    }

    .nps li {
      display: inline-flex;
    }

    .nps [type='radio'] {
      display: none !important;
    }

    .nps .net-promoter-score-label {
      display: inline-block;
      border: 1px solid #1c5c85;
      background-color: #fff;
      color: #1c5c85;
      width: 40px;
      height: 30px;
      margin: 0 5px;
      user-select: none;
      text-align: center;
      line-height: 28px;
    }

    .nps-input:checked + label {
      border: 1px solid #1c5c85;
      background-color: #1c5c85 !important;
      color: #fff;
    }

  </style>
</head>
  <body>
    <div style="padding: 10px 0">
      <div style="height: 80px; width: 100%; border-top: 6px solid #8cc63f;">
        <div style="padding: 20px 0">
          <div style=" display: inline-block; float: left">
            <img src="https://static.formpress.org/images/logo.png" alt="formpress logo" width="204"/>
          </div>
          <div style="display: inline-block; float: right;">
            <img src="https://static.formpress.org/images/motto.png" alt="formpress motto" width="206"/>
          </div>
        </div>
      </div>
      <div>
        <div style="display: inline-block; font-size: 16px; color:#113952; float:left;">
          Your form <strong>&quot;<%= FormTitle %>&quot;</strong> just received a response. Here are the details:
        </div>
        <div style="display: inline-block;">
          <img src="https://static.formpress.org/images/hero.png" alt="submisssion success" width="221"/>
        </div>
      </div>
      <div>
        <span style="width: 40px; display: inline-block"></span>
        <span style="width: 85%; display: inline-block; height: 2px; background-color: #e2e2e2;"></span>
      </div>
      <div style=" color:#7aad37; font-size: 18px; padding-left:40px; padding-top: 20px;">ANSWERS</div>
      <div style="padding: 10px 0px 20px 10px;">
        <%
        QUESTION_AND_ANSWERS.forEach (function (QnA) {%>
          <div>
            <div class="QnA-question">
              <%- QnA.question%>
            </div>
            <div class="QnA-answer">
              <%- QnA.renderedAnswer %>
            </div>
          </div>
        <%})%>
      %>
      </div>
      <div style =" font-size: 12px;   text-align: center; color: #646569;">
        &#169; 2022 FORMPRESS.ORG This e-mail has been sent to the address <%- Email %>, you can change the address from form properties.
      </div>
    </div>
  </body>
</html>
